@media only screen and (max-width: 600px) {
    body *{
        display: flex;
        flex-direction: column;
        background-color: rgb(133, 255, 255);
    }  
    main aside{
        display: none;
    }
}   

@media only screen and (min-width: 600px) {
    #settings{
       display: none;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(200, 181, 244);
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: rgb(255, 194, 251);
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #settings{
        display: flex;
       }
}